/* invalid input */
.bvalidator_gray2_invalid {
	background-color: #FFFFAE !important;
}
/* error message */
.bvalidator_gray2_errmsg {
	background-color: #333;
	font-size: 10px;
	border: 1px solid #999;
	color: #FFF;
	display: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
	-moz-box-shadow: 0 0 6px #ddd;
	-webkit-box-shadow: 0 0 6px #ddd;
	box-shadow: 0 0 6px #ddd;
	white-space: nowrap;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
	filter: alpha(opacity=90)
}
/* close icon */
.bvalidator_gray2_errmsg .bvalidator_gray2_close_icon {
	margin-left: 5px;
	margin-top: -2px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #F96;
	cursor: pointer
}
/* arrow */
.bvalidator_gray2_errmsg .bvalidator_gray2_arrow {
	display: inline-block;
	border-color: transparent #333 transparent transparent;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	height: 0;
	width: 0;
	position: relative;
	left: -14px;
	vertical-align: middle
}
/* message container  */
.bvalidator_gray2_errmsg .bvalidator_gray2_cont1 {
	display: inline-block;
	vertical-align: middle
}
