/* invalid input */
.bvalidator_orange_invalid {
	background-color: #FFC !important;
}
/* error message */
.bvalidator_orange_errmsg {
	background-color: #F90;
	font-size: 10px;
	border: 1px solid #999;
	color: #333;
	display: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
	-moz-box-shadow: 0 0 6px #ddd;
	-webkit-box-shadow: 0 0 6px #ddd;
	box-shadow: 0 0 6px #ddd;
	white-space: nowrap;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
	filter: alpha(opacity=90);
	font-weight: bold
}
/* close icon */
.bvalidator_orange_errmsg .bvalidator_orange_close_icon {
	margin-left: 5px;
	margin-top: -2px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bolder;
	color: #FFF;
	cursor: pointer;
	font-size: 14px
}
/* arrow */
.bvalidator_orange_errmsg em {
	display: block;
	border-color: #F90 transparent transparent;
	border-style: solid;
	border-width: 10px 10px 0;
	height: 0;
	width: 0;
	position: absolute;
	bottom: -9px;
	left: 5px
}
