/* invalid input */
.bvalidator_postit_invalid {
	background-color: #FFFFAE !important;
}
/* error message */
.bvalidator_postit_errmsg {
	background-color: #fffe66;
	font-size: 15px;
	color: #000;
	display: none;
	white-space: nowrap;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 5px;
	border: 2px solid #100b07;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-family: "Comic Sans MS", "Trebuchet MS", Trebuchet, Arial, Verdana, Sans-serif;
	-moz-box-shadow: 0 0 6px #ddd;
	-webkit-box-shadow: 0 0 6px #ddd;
	box-shadow: 0 0 6px #ddd
}
/* arrow */
.bvalidator_postit_errmsg .bvalidator_postit_pointer, .bvalidator_postit_errmsg .bvalidator_postit_inner_pointer {
	position: absolute;
	width: 0;
	height: 0;
	border-bottom-width: 0;
	background: none
}
.bvalidator_postit_errmsg .bvalidator_postit_pointer {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 14px solid #333;
	bottom: -14px;
	right: auto;
	left: 20px;
	margin-left: -7px;
	bottom: -15px
}
.bvalidator_postit_errmsg .bvalidator_postit_inner_pointer {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fffe66;
	bottom: auto;
	top: -16px;
	left: -5px
}
/* close icon */
.bvalidator_postit_errmsg .bvalidator_postit_close_icon {
	margin-left: 10px;
	margin-top: -2px;
	font-weight: bold;
	color: #C30;
	cursor: pointer
}
